In [18]:
import spacy
import pandas as pd

In [19]:
df = pd.read_csv("Indian Cities Geo Data.csv")

In [28]:
df["Location_cleaned"] = df["Location"].str.replace(" Latitude and Longitude", "", regex=False)

In [30]:
df["Location_cleaned"] = df["Location_cleaned"].str.strip()

In [36]:
patterns = []
for x in df["Location_cleaned"]:
    patterns.

,State,Location,Latitude,Longitude,Location_cleaned
0,Andaman and Nicobar Islands,Bamboo Flat Latitude and Longitude,11.70000,92.71667,Bamboo Flat
1,Andaman and Nicobar Islands,Nicobar Latitude and Longitude,7.03002,93.79028,Nicobar
2,Andaman and Nicobar Islands,Port Blair Latitude and Longitude,11.66613,92.74635,Port Blair
3,Andaman and Nicobar Islands,South Andaman Latitude and Longitude,10.75776,92.52136,South Andaman
4,Andhra Pradesh,Addanki Latitude and Longitude,15.81061,79.97338,Addanki
...,...,...,...,...,...
4226,West Bengal,Uchalan Latitude and Longitude,23.03330,87.78330,Uchalan
4227,West Bengal,Ula Latitude and Longitude,22.72250,88.55556,Ula
4228,West Bengal,Uluberia Latitude and Longitude,22.47000,88.11000,Uluberia
4229,West Bengal,Uttar Dinajpur district Latitude and Longitude,25.62000,88.12000,Uttar Dinajpur district
4230,West Bengal,Uttarpara Kotrung Latitude and Longitude,22.67000,88.35000,Uttarpara Kotrung

In [2]:
nlp = spacy.load("en_core_web_sm")

In [16]:
doc = nlp("bhubaneswar")

In [17]:
for x in doc.ents:
    print(x.text , x.label_)